<?xml version="1.0" encoding="utf-8"?>
<manifest package="is.hi.gordon"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".newUserActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".QuestActivity"
            android:parentActivityName=".CopyDbActivity">
        </activity>
        <activity android:name=".ResultActivity"
            android:parentActivityName=".QuestActivity">
        </activity>
        <activity android:name=".CompanyListActivity"
            android:parentActivityName=".AdminActivity">
        </activity>
        <activity android:name=".CompanyResultActivity"
            android:parentActivityName=".AdminActivity">
        </activity>
        <activity android:name=".AddCompanyActivity"
            android:parentActivityName=".CompanyListActivity">
        </activity>
        <activity android:name=".AdminActivity"
            android:parentActivityName=".LoginActivity">
        </activity>
        <activity android:name=".ApiActivity"
            android:parentActivityName=".AdminActivity">
        </activity>
        <activity android:name=".newUserActivity"
            android:parentActivityName=".LoginActivity">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>